/* Styles communs */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3 {
    margin-top: 0;
}

.event-list {
    margin-top: 20px;
}

.event {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

/* Ajouter d'autres styles au besoin */